@import "tailwindcss";

@layer components {
  .card {
    @apply flex items-center justify-center w-3/4 h-72 p-9 text-[#492D0D] bg-white rounded-2xl;
    box-shadow: 0 10px 60px OrangeRed, inset 0px -10px 17px 2px DarkOrange;
  }

  .card p {
    @apply text-2xl font-[900] text-[#492D0D];
  }

  .card-footer {
    @apply text-[#492D0D] text-[34pt] font-[900];
    color: white !important;
    text-shadow: 1px 1px 0px DarkOrange, 2px 2px 0px DarkOrange,
      3px 3px 0px DarkOrange, -1px -1px 0px DarkOrange;
  }
}
